body {
  background-color: rgb(79, 78, 78);
}
header {
  background-color: rgb(79, 78, 78);
  height: 100px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  display: flex;
  text-align: center;
}

li {
  padding: 10px;
  margin: 10px;
  font-size: large;
  list-style-type: none;
}

h1 {
  color: white;
  display: flex;
  text-align: center;
}

h2 {
  color: white;
  font-size: xx-large;
}

#left-side {
  width: 20%;
  background-image: linear-gradient(skyblue, rgb(20, 81, 105));
  height: auto;
  border-radius: 0px 50px 50px 0px;
}

#mid {
  width: 60%;
  background-color: rgb(255, 255, 255);
  height: auto;
  background-color: rgb(79, 78, 78);
  padding: 10px;
}
#mid-center {
  display: flex;
  justify-content: center;
}
#right-side {
  width: 20%;
  background-image: linear-gradient(skyblue, rgb(20, 81, 105));
  height: auto;
  border-radius: 50px 0px 0px 50px;
}

#what-season {
  margin-top: 20px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: silver;
}

a {
  color: white;
  text-underline-offset: unset;
}

iframe {
  padding: 10px;
}

button {
  background-color: rgb(181, 195, 92);
  color: rgb(79, 78, 78);
  border-radius: 30px;
  width: 30px;
  height: 30px;
  background-color: red;
  animation-name: main;
  animation-duration: 8s;
  animation-iteration-count: 999;
}

div {
  padding: 10px;
}

form {
  padding: 10px;
}

@keyframes main {
  0% {
    background-color: rgb(233, 100, 100);
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: rgb(237, 237, 103);
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: rgb(137, 137, 237);
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: rgb(128, 244, 128);
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: rgb(233, 100, 100);
    left: 0px;
    top: 0px;
  }
}

#season-button {
  width: auto;
}

img {
  width: 50%;
  height: auto;
}

footer {
  background-color: rgb(79, 78, 78);
  height: 50px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer {
  color: white;
 
}
