body {
  background-color: rgb(79, 78, 78);
  font-family: "Joan", serif;
}
header {
  background-color: rgb(79, 78, 78);
  height: 120px;
  padding: 0px;
  padding-left: 2%;
  margin: 0px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Joan", serif;
}

section {
  display: flex;
  text-align: center;
}

li {
  padding: 10px;
  margin: 10px;
  font-size: large;
  list-style-type: none;
  color: white;
}

h1 {
  color: white;
  display: flex;
  text-align: center;
}

h2 {
  color: white;
  font-size: xx-large;
}

p {
  color: white;
  display: flex;
  align-items: center;
}

#left-side {
  width: 10%;
  padding: 0px;
  height: auto;
  border-radius: 0px 50px 50px 0px;
}

#mid {
  width: 71%;
  background-color: rgb(255, 255, 255);
  height: auto;
  background-color: rgb(79, 78, 78);
  padding: 10px;
}
#mid-center {
  display: flex;
  justify-content: center;
}
#right-side {
  width: 17%;
  background-image: linear-gradient(skyblue, rgb(20, 81, 105));
  height: auto;
  border-radius: 50px 0px 0px 50px;
}

a {
  color: white;
  text-underline-offset: unset;
}

div {
  padding: 10px;
}

form {
  padding: 10px;
}

#season-button {
  width: auto;
}

img {
  width: 50%;
  height: auto;
}

footer {
  background-color: rgb(79, 78, 78);
  height: 50px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer {
  color: white;
}

#nate-photo {
  width: 25%;
  height: auto;
  border-radius: 50%;
  border: black 2px;
  padding: 50px;
}

.web-pic {
  width: 70%;
}

#connect {
  background-image: linear-gradient(skyblue, rgb(20, 81, 105));
  height: auto;
  border-radius: 0px 50px 50px 0px;
}